@tailwind base;
@tailwind components;
@tailwind utilities;


/* Import font Rubik dari Google Fonts */


/* Layer base untuk override styling dasar */
@layer base {
  html {
    /* Ganti font default ke Poppins (pastikan sudah import juga jika mau pake Poppins) */
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
  }

  /* Jika mau pake Rubik di kelas khusus, contoh: */
  /* 
  .rubik {
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  */
}

/* Hilangkan spin button di input number */
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* kadang perlu margin 0 juga */
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield; /* untuk Firefox */
}
